body {
  position: absolute;
  width: 100%;
  height: fit-content;
  background-color: #f1f7f3;
}

.map {
  display: none;
  position: absolute;
  top: 140px;
  left: 15px;
  right: 30px;
}

#chippewa-falls-pickleball-courts {
  display: block;
}

iframe {
  min-width: calc(100vw - 46px);
  height: calc(0.5 * calc(100vw - 46px));
}

#section {
  position: absolute;
  left: 15px;
  right: 30px;
  top: 83px;
  background-color: #c1cfc5;
  min-width: calc(100vw - 51px);
  padding: 5px;
}
