body{
    font: 15px Arial;
    margin: 10px;
    padding: 10px;
    overflow-x: hidden;
}

p{
    font: 25px;
}

h3{
    color: #159;
}

.front{
    margin-left: 10%;
}

form, .container{
    width: 40%;
    float: left;
}

.container{
    margin-top: 3em;
    color: #000;
}

input{
    display: table;
    margin-bottom: 1em;
    width: 60%;
    font-size: 16px;
    border: 2px solid #159;
    border-radius: 5px;
    padding: 3px;
}

#file{
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.upload, button{
    color: #fff;
    background: #159;
    padding: 5px;
    border: 2px solid #159;
    border-radius: 5px;
    cursor: pointer;
}

form span{
    font-size: 12px;
}

#preview{
    font-size: 16px;
    margin-top: 1em;
    margin-left: 2em;
}

#result{
    position: relative;
    width: 70%;
    margin-left: 15%;
    border: 2px solid #ddd;
    border-radius: 12px;
    margin-bottom: 2em;
}

header{
    width: 100%;
    background: #159;
    border-radius: 12px 12px 0px 0px;
    color: #fff;
}

header::after{
content: "";
display: flex;
clear: both;
}

#logo{
    width: 80px;
    height: 80px;
    float: right;
}

.donor{
    width: 40%;
    float: left;
}

.donor h4{
    margin: 12px auto 0 7px;
}

.donor span{
    margin-left: 8px;
}

.content{
    width: 80%;
}

.content img{
    float: left;
    width: 80px;
    height: 105px;
    margin-left: 7px;
    margin-top: 12px;
}

.content ul{
    width: 50%;
    float: left;
    padding-left: 15px;
}

.content ul li{
    list-style-type: none;
}

#down{
    font-size: 18px;
}

@media only screen and (max-width:768px) {
    .container, form{
        width: 90%;
        margin-left: 5%;
    }

    #result{
        margin-left: 0;
        margin-right: 5%;
    }

    #down{
        margin-right: 2em;
        margin-bottom: 2em;
    }
}
