body {
  background-color: #f1f7f3;
}

.quiz-container {
  position: relative;
  background-color: #c1cfc5;
  font-size: 17px;
  color: rgb(1 19 12);
  height: 120px;
  margin-top: 15px;
  text-align: center;
  font-weight: 300;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 10px 5px 5px black;
}

.slide {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

#next {
  width: 100px;
  margin-top: 20px;
  margin-left: 15px;
  background-color: #c1cfc5;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  text-align: center;
}

#pickle {
  height: 400px;
  width: 350px;
  position: relative;
}

#player {
  height: 400px;
  width: 350px;
  position: relative;
}
