body {
  position: absolute;
  width: 100%;
  height: fit-content;
  background-color: #f1f7f3;
}

.map {
  display: none;
  position: absolute;
  top: 140px;
  left: 2%;
  width: 900px;
  height: 675px;
}

#chippewa-falls-pickleball-courts {
  display: block;
}

section {
  position: absolute;
  left: 2%;
  top: 83px;
  background-color: #c1cfc5;
  width: 95%;
  padding: 5px;
}
